<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f90068558c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Diadet.ai</title>
</head>
<body> 
    <header>
        <div class="coba">
            <div class="main-header">
                <img src="../static/images/logo.png">
                <h1 class="header-info">Diadet.AI</h1>
            </div>
        </div>
    </header>
    <br><br><br><br>
    <body>
        <div class="jumbotron">
            <h2>Selamat datang di</h2>
            <div class="box">
                <h1>
                    Diadet.AI!
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="tutorial">
                <h2>Tahapan</h2>
                <ol>
                    <li>Ambil gambar lidah Anda</li>
                    <li>Unggah gambar lidah di bawah ini</li>
                    <li>Tekan tombol "Deteksi"</li>
                    <li>Tunggu AI mendeteksi</li>
                    <li>Hasil akan muncul di bawah gambar lidah</li>
                </ol>
            </div>
            <div class="iya">
                <h2>Deteksi Lidah Anda</h2>
                <br><br><br>
                <form action="/" method="POST" enctype="multipart/form-data">
                    <label for="input-file" id="drop-area">
                        <input type="file" name="imagefile" accept="image/*" id="input-file" hidden>
                        <div id="img-view">
                            <img src="../static/images/upload.png">
                            <p>Klik, tap, atau tarik gambar lalu lepas <br> untuk menggunggah gambar!</p>
                            <!-- <span>Upload any images from desktop</span> -->
                        </div>
                    </label>
                    <input type="submit" value="Deteksi" class="button">
                </form>
            </div>
            <div class="hasil">
                <h2>Hasil</h2>
                <br><br>
                <div>
                    <div class="hasil2">
                        {% if prediction %}
                            <h2>Prognosis: {{prediction}}!</h2>
                            <h2>Dengan tingkat kepercayaan: {{percent}}%</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
    <footer>

    </footer>

    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>

    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>
