<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/f90068558c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Diadet.ai</title>
</head>
<body> 
    <header>
        <div class="coba">
            <div class="main-header">
                <img src="../static/images/logo.png">
                <h1 class="header-info">Diadet.AI</h1>
            </div>
        </div>
    </header>
    <br><br><br><br>
    <body>
        <div class="jumbotron">
            <h2>Selamat datang di</h2>
            <div class="box">
                <h1>
                    Diadet.AI!
                </h1>
            </div>
        </div>
        <div class="container">
            <div class="tutorial">
                <h2>Tutorial</h2>
                <br><br><br>
                <ol>
                    <li>Ambil gambar lidah Anda</li>
                    <li>Unggah gambar lidah di bawah ini</li>
                    <li>Tekan tombol "Deteksi"</li>
                    <li>Tunggu AI mendeteksi</li>
                    <li>Hasil akan muncul di bawah gambar lidah</li>
                </ol>
            </div>
            <div class="iya">
                <h2>Deteksi Lidah Anda</h2>
                <br><br><br>
                <label for="input-file" id="drop-area">
                    <input type="file" accept="image/*" id="input-file" hidden>
                    <div id="img-view">
                        <img src="../static/images/upload.png">
                        <p>Drag and drop or click here <br> to upload image!</p>
                        <span>Upload any images from desktop</span>
                    </div>
                </label>
                <div class="button">
                    <a>Deteksi</a>
                </div>
            </div>
            <div class="hasil">
                <h2>Hasil</h2>
                <br><br><br>
                <div class="hasil-img">
                    <img src="../assets/images/upload.png">
            </div>
        </div>
    </body>
    <footer>

    </footer>

    <script type="text/javascript" src="../static/script.js"></script>
</body>
</html>